*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  background-color: #BABABA;
}
.center{
  text-align: center;
}
h1{
  color: #059482;
}
img{
  border: 0.5em solid #fff;
  border-radius: 0.5em;
}
ul, ol{
  list-style: none;
}
.slideshow{
  width: 100%
}
.slider li, ul{
  width: 100%;
}
.slider li img{
  width: 100%;
}
.pagination{
   padding-top: 1%;
   width: 100%;
   display: flex;
   justify-content: center;
 }
.pagination li{
  font-size: 1em;
  margin-left: 0.8em;
  cursor: pointer;
  color: #858585;

}
.right, .left{
  cursor: pointer;
  color: #858585;
  font-size: 1em;
}
.left{
  text-align: right;
}
